<div class="bug-popup-info">
  <div class="left-side">
    <h2>{{data.title}}</h2>
    <p>{{data.description}}</p>

    <div class="bug-users">
      <div class="bug-prop created-by">
        <span class="bug-prop-label">{{'bugTable.createdBy'|translate}}: </span> <span>{{data.createdBy}}</span>
      </div>
      <div class="bug-prop assigned-to">
        <span class="bug-prop-label">{{'bugTable.assignedTo'|translate}}: </span> <span>{{data.assignedTo}}</span>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="bug-prop version">
      <span class="bug-prop-label">{{'bugTable.version'|translate}}: </span> <span> {{data.version}}</span>
    </div>
    <div class="bug-prop fixed-version">
      <span class="bug-prop-label">{{'bugPopup.fixedIn'|translate}}: </span> <span> {{data.fixedVersion}}</span>
    </div>
    <div class="bug-prop status">
      <span class="bug-prop-label">{{'bugTable.status'|translate}}: </span> <span> {{data.status}}</span>
    </div>
    <div class="bug-prop severity">
      <span class="bug-prop-label">{{'bugTable.severity'|translate}}: </span> <span> {{data.severity}}</span>
    </div>
    <div class="bug-prop target-date">
      <span class="bug-prop-label">{{'bugPopup.deadline'|translate}}: </span> <span> {{data.targetDate}}</span>
    </div>
    <div class="bug-prop export">
      <button color="primary"
              mat-raised-button
              *ngIf="authService.userHasPermission('BUG_EXPORT_PDF')"
              (click)="downloadPdf(data.id)"
              title="Export bug in pdf"
              layout-align="center-end"
      >
        <i class="material-icons">
          picture_as_pdf
        </i> <span>{{'bugPopup.exportPdf'|translate}}</span>
      </button>
    </div>
    <div>
      <button color="primary"
              mat-raised-button
              *ngIf="data.fileName!=null"
              (click)="downloadAttachment(data.id,data.fileName)"
              title="Export bug in pdf"
              layout-align="center-end"
      >
        <i class="material-icons">
          attach_file
        </i> <span>Download attachemnt</span>
      </button>
  </div>

</div>
