
<div class="register-user-form">




  <form
    (ngSubmit) = "submitRegister()"
    #registerForm = "ngForm"
    #formElement
  >
    <h3>{{'userManagement.registerUser'| translate}}</h3> <br>
    <mat-form-field>
      <input
        matInput
        #firstNameControl = "ngModel"
        #firstNameElement
        name = "firstName"
        required
        [(ngModel)] = "data.firstName"
        placeholder="{{'userManagement.firstName'| translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput
             #lastNameControl = "ngModel"
             #lastNameElement
             name="lastName"
             required
             [(ngModel)] = "data.lastName"
             placeholder="{{'userManagement.lastName'| translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
    <input type="password"
           #passwordElement
           name="password"
           matInput
           [(ngModel)] = "data.password"
           required
           [formControl]="passwordFormControl"
           [errorStateMatcher]="matcher"
           placeholder="{{'userManagement.password'| translate}}">

      <mat-error *ngIf="passwordFormControl.hasError('passwordInvalid')">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #emailElement
        name="email"
        matInput
        [(ngModel)] = "data.email"
        required
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="{{'userManagement.email'| translate}}">
      <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessages()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #phoneControl = "ngModel"
        #phoneElement
        name="phone"
        matInput
        required
        [(ngModel)] = "data.phoneNumber"
        placeholder="{{'userManagement.phoneNumber'| translate}}">
    </mat-form-field>
    <br>
      <button type="submit" mat-button >{{'userManagement.buttonSubmit'| translate}}</button>
  </form>
  <div class="form-info">

    {{'userManagementErrorMsg.passwordRequirements'| translate}}:
    <ul>
      <li>{{'userManagementErrorMsg.passwordReqLength'| translate}}</li>
      <li>{{'userManagementErrorMsg.passwordReqLetters'| translate}}</li>
      <li>{{'userManagementErrorMsg.passwordReqSpecial'| translate}}</li>
      <li>{{'userManagementErrorMsg.passwordReqDigit'| translate}}</li>
    </ul>{{'userManagementErrorMsg.emailRequirement'| translate}}.
  </div>
</div>
