<div class="row addBug-component">
  <div class="errorMessage server-error" *ngIf="displayError()">
    {{getMessage()}}
  </div>
  <form (ngSubmit)="addBugForm()">
    <fieldset>
      <div class="form-group">
        <div class="form-group">
          <label for="titleInput">{{'addBug.title' | translate}} </label>
          <input type="text"
                 #titleElement
                 #titleControl="ngModel"
                 placeholder="{{'addBug.inputTitle' | translate}}"
                 name="title"
                 id="titleInput"
                 class="form-control"
                 [(ngModel)]="bugData.title"
                 required>
        </div>
        <div class="form-group">
          <label for="descriptionInput">{{'addBug.description' | translate}} </label>
          <input type="text"
                 #descriptionElement
                 #descriptionControl="ngModel"
                 placeholder="{{'addBug.inputDescription' | translate}} "
                 name="description"
                 id="descriptionInput"
                 class="form-control"
                 [(ngModel)]="bugData.description"
                 [ngClass]="{form_invalid: !validateDescription(), form_valid:validateDescription()}"
                 required>
        </div>
        <div class="form-group">
          <label for="versionInput">{{'addBug.version' | translate}} </label>
          <input type="text"
                 #versionElement
                 #versionControl="ngModel"
                 placeholder="{{'addBug.inputVersion' | translate}}"
                 name="version"
                 id="versionInput"
                 class="form-control"
                 [(ngModel)]="bugData.version"
                 [ngClass]="{form_invalid: !validateVersion(), form_valid:validateVersion()}"
                 required>
        </div>
        <div class="form-group">
          <label for="fixedVersionInput">{{'addBug.fixedVersion' | translate}}</label>
          <input type="text"
                 #versionElement
                 #versionControl="ngModel"
                 placeholder="{{'addBug.fixedVersion' | translate}}"
                 name="fixedVersion"
                 id="fixedVersionInput"
                 class="form-control"
                 [(ngModel)]="bugData.fixedVersion"
                 [ngClass]="{form_invalid: !validateVersion(), form_valid:validateVersion()}"
                 required>
        </div>

        <div class="form-group">
          <label for="targetDateInput">{{'addBug.targetDate' | translate}} </label>
          <input
            name="targetDate"
            id="targetDateInput"
            [(ngModel)]="bugData.targetDate"
            [matDatepicker]="targetDate">
          <mat-datepicker-toggle [for]="targetDate"></mat-datepicker-toggle>
          <mat-datepicker #targetDate></mat-datepicker>

        </div>
        <div class="form-group">
          <label>{{'addBug.severity' | translate}} </label>
          <mat-form-field>
            <mat-select [(value)]="bugData.severity" placeholder="{{'addBug.severity' | translate}}">
              <mat-option *ngFor="let severity of severities" [value]="severity">
                {{severity}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label for="assignedToInput">{{'addBug.assignedTo' | translate}}</label>
          <input type="text"
                 #assignedToElement
                 #assignedToControl="ngModel"
                 placeholder="{{'addBug.inputAssignedTo' | translate}}"
                 name="assignedTo"
                 id="assignedToInput"
                 class="form-control"
                 [(ngModel)]="bugData.assignedTo.username"
                 required>
        </div>

      </div>
    </fieldset>
    <button color="primary"
            mat-raised-button
            style="margin:30px 0">
      {{'addBug.buttonAddBug' | translate}}
    </button>
  </form>
</div>
