.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.titleMessage {
  font-weight: bold;
  text-align: left;
}

.profile-label {
  font-weight: bold;
  color: #4286f4;
}
