<mat-accordion *ngFor="let notification of notifications" class="example-headers-align">
  <mat-expansion-panel (opened)="getMessage(notification)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{getTypeOfNotification(notification.typeNotification)}}
      </mat-panel-title>
      <mat-panel-description>
        <p>{{notification.dateSent}}</p>
      </mat-panel-description>

    </mat-expansion-panel-header>
    <p class="titleMessage">
      {{getTitle(notification)}}</p>
    <p>{{getContentMessage(notification)}}</p>
    <ng-container *ngIf="!(getContent(notification).newUser===null) && (getContent(notification).oldUser===null)">
      <p *ngIf="!(getContent(notification).newUser.username==='')"><span class="profile-label">{{'profileWindow.username'| translate}}:</span>
        {{getContent(notification).newUser.username}}</p>
      <p *ngIf="!(getContent(notification).newUser.lastName==='')"><span class="profile-label">{{'profileWindow.lastName'| translate}}:</span>
        {{getContent(notification).newUser.lastName}}</p>
      <p *ngIf="!(getContent(notification).newUser.email==='')"><span class="profile-label">{{'profileWindow.email'| translate}}:</span>
        {{getContent(notification).newUser.email}}</p>
      <p *ngIf="!(getContent(notification).newUser.phoneNumber==='')"><span class="profile-label">{{'profileWindow.phone'| translate}}:</span>
        {{getContent(notification).newUser.phoneNumber}}</p>
    </ng-container>

    <ng-container *ngIf="!(getContent(notification).newUser===null) && !(getContent(notification).oldUser===null)">
      <div>
        <p>{{'notification.oldData'| translate}}</p>
        <p *ngIf="!(getContent(notification).newUser.username==='')"><span class="profile-label">{{'profileWindow.username'| translate}}:</span>
          {{getContent(notification).newUser.username}}</p>
        <p *ngIf="!(getContent(notification).newUser.lastName==='')"><span class="profile-label">{{'profileWindow.lastName'| translate}}:</span>
          {{getContent(notification).newUser.lastName}}</p>
        <p *ngIf="!(getContent(notification).newUser.email==='')"><span class="profile-label">{{'profileWindow.email'| translate}}:</span>
          {{getContent(notification).newUser.email}}</p>
        <p *ngIf="!(getContent(notification).newUser.phoneNumber==='')"><span class="profile-label">{{'profileWindow.phone'| translate}}:</span>
          {{getContent(notification).newUser.phoneNumber}}</p>
      </div>

      <div>
        <p>{{'notification.newData'| translate}}</p>
        <p *ngIf="!(getContent(notification).oldUser.username==='')"><span class="profile-label">{{'profileWindow.username'| translate}}:</span>
          {{getContent(notification).oldUser.username}}</p>
        <p *ngIf="!(getContent(notification).oldUser.lastName==='')"><span class="profile-label">{{'profileWindow.lastName'| translate}}:</span>
          {{getContent(notification).oldUser.lastName}}</p>
        <p *ngIf="!(getContent(notification).oldUser.email==='')"><span class="profile-label">{{'profileWindow.email'| translate}}:</span>
          {{getContent(notification).oldUser.email}}</p>
        <p *ngIf="!(getContent(notification).oldUser.phoneNumber==='')"><span class="profile-label">{{'profileWindow.phone'| translate}}:</span>
          {{getContent(notification).oldUser.phoneNumber}}</p>
      </div>

    </ng-container>

    <ng-container *ngIf="!(getContent(notification).newBug===null)">
      <p *ngIf="!(getContent(notification).newBug.title==='')"><span class="profile-label">{{'addBug.title'| translate}}:</span>
        {{getContent(notification).newBug.title}}</p>
      <p *ngIf="!(getContent(notification).newBug.description==='')"><span class="profile-label">{{'addBug.description'| translate}}:</span>
        {{getContent(notification).newBug.description}}</p>
      <p *ngIf="!(getContent(notification).newBug.version==='')"><span class="profile-label">{{'addBug.version'| translate}}:</span>
        {{getContent(notification).newBug.version}}</p>
      <p *ngIf="!(this.statusUpdated===true && getContent(notification).newBug.status==='')"><span
        class="profile-label">Status:</span>
        {{getContent(notification).newBug.status}}</p>
      <p *ngIf="!(getContent(notification).newBug.severity==='')"><span class="profile-label">{{'addBug.severity'| translate}}:</span>
        {{getContent(notification).newBug.severity}}</p>
      <p *ngIf="!(getContent(notification).newBug.targetDate==='')"><span class="profile-label">{{'addBug.targetDate'| translate}}:</span>
        {{getContent(notification).newBug.targetDate}}</p>
      <p *ngIf="!(getContent(notification).newBug.fixedVersion==='')"><span class="profile-label">{{'addBug.fixedVersion'| translate}}:</span>
        {{getContent(notification).newBug.fixedVersion}}</p>
      <p *ngIf="!(getContent(notification).newBug.assignedTo.username==='')"><span class="profile-label">{{'addBug.assignedTo'| translate}}:</span>
        {{getContent(notification).newBug.assignedTo.username}}</p>
      <p *ngIf="!(getContent(notification).newBug.createdByUser.username==='')"><span class="profile-label">{{'addBug.createdByUser'| translate}}:</span>
        {{getContent(notification).newBug.createdByUser.username}}</p>
      <div *ngIf="!(getContent(notification).newBug.status==='')&& this.statusUpdated===true">
        <p><span class="profile-label">{{'notification.oldStatus'| translate}}:</span>
          {{getContent(notification).oldBug.status}}</p>
        <p><span class="profile-label">{{'notification.newStatus'| translate}}:</span>
          {{getContent(notification).newBug.status}}</p>
      </div>
      <button color="primary"
              *ngIf="!(getContent(notification).urlBug==='')"
              mat-raised-button
              (click)="goToBug(getContent(notification).urlBug)"
      >Go to bug

      </button>


    </ng-container>




  </mat-expansion-panel>

</mat-accordion>





