<div class="row login-component">
  <div class="login-form">
    <form (ngSubmit)="submitForm()"
          *ngIf="!isLoggedIn()"
          #formControl="ngForm"
          #formElement
    >
      <div class="errorMessage server-error" *ngIf="displayError()">
        {{getMessage()}}
      </div>
      <fieldset>
        <div class="form-group">
          <div class="form-group">
            <label for="usernameInput">{{'loginWindow.username' | translate}}</label>
            <input type="text"
                   #usernameElement
                   #usernameControl="ngModel"
                   placeholder="{{'loginWindow.inputUsername' | translate}}"
                   name="username"
                   id="usernameInput"
                   class="form-control"
                   [ngClass]="{form_invalid: !validateUsername(), form_valid:validateUsername()}"
                   [(ngModel)]="userLoginData.username"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordInput">{{'loginWindow.password' | translate}}</label>
          <input type="password"
                 #passwordElement
                 #passwordControl="ngModel"
                 placeholder="{{'loginWindow.inputPassword'| translate}}"
                 name="password"
                 id="passwordInput"
                 class="form-control"
                 [(ngModel)]="userLoginData.password"
                 [ngClass]="{form_invalid: !validatePassword(), form_valid:validatePassword()}"
                 required>
        </div>

      </fieldset>
      <div nbRecaptcha key="6LfwXmsUAAAAAA5Q7ULe0bxp2rC0ss0qSW21CS0N" ngForm="captcha"></div>
      <button type="submit"
              [disabled]="!validatePassword()||!validateUsername()"
              color="primary"
              style="margin-left: 40%;"
              mat-stroked-button="login">{{'loginWindow.submit'| translate}}!
      </button>

      <div class="errorMessage" *ngIf="!validateUsername()&&usernameControl.touched">
        {{'loginErrors.usernameErrorLength'| translate}}
      </div>
      <div class="errorMessage" *ngIf="!validatePassword()&&passwordControl.touched">
        {{'loginErrors.passwordErrorIntro'| translate}}
        <ul>
          <li>{{'loginErrors.passwordErrorUpper'| translate}}</li>
          <li>{{'loginErrors.passwordErrorLower'| translate}},</li>
          <li>{{'loginErrors.passwordErrorDigit'| translate}}</li>
          <li>{{'loginErrors.passwordErrorSpecial'| translate}}</li>
          <li>{{'loginErrors.passwordErrorLength'| translate}}</li>
        </ul>
      </div>
    </form>

  </div>
</div>
