<mat-toolbar color="primary">
  <span style="margin-right: 20px">JBugs</span>
  <button
    mat-button="asdf"
    *ngIf="isLoggedIn()"
    routerLinkActive="active"
    routerLink="bugs">
    Bugs
  </button>
  <button mat-button [matMenuTriggerFor]="menuManage" *ngIf="isLoggedIn()">
    Manager
  </button>
  <mat-menu #menuManage="matMenu">
    <button
      mat-menu-item
      *ngIf="isLoggedIn()"
      routerLinkActive="active"
      routerLink="manageusers">
      Users
    </button>
    <button
      mat-menu-item
      *ngIf="isLoggedIn()"
      routerLinkActive="active"
      routerLink="manageusers">
      Roles and Permissions
    </button>
  </mat-menu>

  <span class="fill-space"></span>


  <div class="jbugs-translator">
    <language-dropdown></language-dropdown>
  </div>
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn()">
    {{getFirstName()}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLinkActive="active" routerLink="profile">
      <i class="material-icons">account_circle</i> Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <i class="material-icons">logout</i> Logout
    </button>
  </mat-menu>


  <button mat-button *ngIf="!isLoggedIn()" routerLinkActive="active" routerLink="login">
    Login
  </button>

</mat-toolbar>
