<mat-toolbar color="primary">

  <span style="margin-right: 20px">JBugs</span>
  <button mat-button *ngIf="isLoggedIn()&&hasPermission('BUG_MANAGEMENT')" routerLink="bugs">

    {{'header.bugs'| translate}}

  </button>
  <button mat-button [matMenuTriggerFor]="menuManage" *ngIf="isLoggedIn()&&hasPermission('USER_MANAGEMENT')">

    {{'header.manage'| translate}}
  </button>
  <mat-menu #menuManage="matMenu">
    <button
      mat-menu-item
      *ngIf="isLoggedIn()"
      routerLinkActive="active"
      routerLink="manage-users">
      {{'header.users'| translate}}
    </button>
    <button
      mat-menu-item
      *ngIf="isLoggedIn()"
      routerLinkActive="active"
      routerLink="roles-and-permissions">
      {{'header.roles_and_permissions' | translate}}
    </button>


  </mat-menu>

  <span class="fill-space"></span>


  <div class="jbugs-translator">
    <language-dropdown></language-dropdown>
  </div>
  <button mat-button  *ngIf="isLoggedIn()" routerLinkActive="active" routerLink="notification">
    <i class="material-icons" title="Notifications">notifications_none</i>
  </button>
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn()">
    {{getFirstName()}}
  </button>



  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLinkActive="active" routerLink="profile">
      <i class="material-icons">account_circle</i>
      {{'header.profile'| translate}}
    </button>
    <button mat-menu-item (click)="logout()">
      <i class="material-icons">logout</i>
      {{'header.logout'| translate}}
    </button>
  </mat-menu>


  <button mat-button *ngIf="!isLoggedIn()" routerLinkActive="active" routerLink="login">
    {{'header.login'| translate}}
  </button>
</mat-toolbar>
