<h3>{{'bugTable.updateBug'| translate}}</h3>
<div class="update-bug-form">


  <form
    (ngSubmit)="submitUpdateBug()"
    #updateForm="ngForm"
    #formElement
    class="update-form"
  >

    <mat-form-field>
      <input
        matInput
        #titleControl="ngModel"
        #titlelement
        name="title"
        [(ngModel)]="data.title"
        placeholder="{{'bugTable.title'| translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput=""
                #descriptionElement
                name="description"
                [formControl]="descriptionFormControl"
                [(ngModel)]="data.description"
                [errorStateMatcher]="matcher"
                placeholder="{{'bugTable.description'| translate}}">

      <mat-error *ngIf="descriptionFormControl.hasError('descriptionInvalid')">{{getDescriptionErrorMessage()}}
      </mat-error>
      </textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #fixedVersionElement
        name="fixedVersion"
        matInput
        [formControl]="fixedVersionFormControl"
        [errorStateMatcher]="matcher"
        [(ngModel)]="data.fixedVersion"
        placeholder="{{'bugTable.fixedVersion'| translate}}">
      <mat-error *ngIf="fixedVersionFormControl.hasError('versionInvalid')">{{getFixedVersionErrorMessage()}}
      </mat-error>

    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #versionElement
        name="version"
        matInput
        [(ngModel)]="data.version"
        [formControl]="versionFormControl"
        [errorStateMatcher]="matcher"
        placeholder="{{'bugTable.version'| translate}}">
      <mat-error *ngIf="versionFormControl.hasError('versionInvalid')">{{getVersionErrorMessage()}}</mat-error>

    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #targetDateElement
        name="targetDate"
        matInput
        required
        [errorStateMatcher]="matcher"
        [(ngModel)]="data.targetDate"
        placeholder="{{'bugTable.targetDate'| translate}}"
        [matDatepicker]="targetDate">

    </mat-form-field>
    <mat-datepicker-toggle [for]="targetDate"></mat-datepicker-toggle>
    <mat-datepicker #targetDate></mat-datepicker>

    <br>
    <mat-form-field>
      <!--<input-->
      <!--#statusControl="ngModel"-->
      <!--#statusElement-->
      <!--name="status"-->
      <!--matInput-->
      <!--[(ngModel)]="data.statusString"-->
      <!--placeholder="{{'bugTable.status'| translate}}">-->
      <mat-select [(value)]="data.statusString" placeholder="{{data.statusString}}"
                  [disabled]="successorsList.length<1">
        <mat-option *ngFor="let status of successorsList" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #severityControl="ngModel"
        #severityElement
        name="severity"
        matInput
        [(ngModel)]="data.severityString"
        placeholder="{{'bugTable.severity'| translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #assignedToStringControl="ngModel"
        #assignedToStringElement
        name="assignedToString"
        matInput
        [(ngModel)]="data.assignedToString"
        placeholder="{{'bugTable.assignedTo'| translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        #createdByUserStringControl="ngModel"
        #createdByUserSTringElement
        name="createdByUserString"
        matInput
        [(ngModel)]="data.createdByUserString"
        placeholder="{{'bugTable.createdBy'| translate}}">
    </mat-form-field>
    <br>
    <button type="submit" mat-button>{{'bugTable.buttonSubmit'| translate}}</button>
  </form>

  <div class="form-info">

    {{'bugUpdateErrorMessage.constraints'| translate}}
    <ul>
      <li>{{'bugUpdateErrorMessage.description'| translate}}.</li>
      <li>{{'bugUpdateErrorMessage.version'| translate}}.</li>
      <li>{{'bugUpdateErrorMessage.date'| translate}}.</li>
    </ul>
  </div>

</div>

