.update-bug-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

mat-form-field {
  max-width: 250px;
}

.update-bug-form .update-form {
  width: 70%;
}

.update-bug-form .form-info {
  width: 25%;
}
