<h3>{{'bugTable.updateBug'| translate}}</h3>
    <div class="update-bug-form">


      <form
        (ngSubmit)="submitUpdateBug()"
        #updateForm="ngForm"
        #formElement
      >

        <mat-form-field>
          <input
            matInput
            #titleControl="ngModel"
            #titlelement
            name="title"
            required
            [(ngModel)]="data.title"
            placeholder="{{'bugTable.title'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput
                 #descriptionControl="ngModel"
                 #descriptionElement
                 name="description"
                 required
                 [(ngModel)]="data.description"
                 [ngClass]="{form_invalid: !validateDescription(), form_valid:validateDescription()}"
                 placeholder="{{'bugTable.description'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input #fixedVersionControl="ngModel"
            #fixedVersionElement
                 name="fixedVersion"
                 matInput
                 required
                 [(ngModel)]="data.fixedVersion"
                 placeholder="{{'bugTable.fixedVersion'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            #versionControl="ngModel"
            #versionElement
            name="version"
            matInput
            required
            [(ngModel)]="data.version"
            [ngClass]="{form_invalid: !validateVersion(), form_valid:validateVersion()}"
            placeholder="{{'bugTable.version'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            #targetDateControl="ngModel"
            #targetDateElement
            name="targetDate"
            matInput
            required
            [(ngModel)]="data.targetDateString"
            placeholder="{{'bugTable.targetDate'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            #statusControl="ngModel"
            #statusElement
            name="status"
            matInput
            required
            [(ngModel)]="data.statusString"
            placeholder="{{'bugTable.status'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            #severityControl="ngModel"
            #severityElement
            name="severity"
            matInput
            required
            [(ngModel)]="data.severityString"
            placeholder="{{'bugTable.severity'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            #assignedToStringControl="ngModel"
            #assignedToStringElement
            name="assignedToString"
            matInput
            required
            [(ngModel)]="data.assignedToString"
            placeholder="{{'bugTable.assignedTo'| translate}}">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            #createdByUserStringControl="ngModel"
            #createdByUserSTringElement
            name="createdByUserString"
            matInput
            required
            [(ngModel)]="data.createdByUserString"
            placeholder="{{'bugTable.createdBy'| translate}}">
        </mat-form-field>
        <br>
        <button type="submit" mat-button>{{'bugTable.buttonSubmit'| translate}}</button>
      </form>

    </div>

