.navbar-nav{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 300px;
  justify-content: space-between;
}

.navbar{
  width: 100%;
  box-shadow: 0 7px 8px -5px grey;
  margin-bottom:15px;
}
