<div class="profile">
  <h2>{{'profileWindow.welcome '| translate}}, {{this.userData.firstName}} !</h2>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'profileWindow.personalInfo' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p><span class="profile-label">{{'profileWindow.firstName'| translate}}:</span> {{this.userData.firstName}}</p>
    <p><span class="profile-label">{{'profileWindow.lastName'| translate}}: </span>{{this.userData.lastName}}</p>
    <p><span class="profile-label">{{'profileWindow.email'| translate}}:</span> {{this.userData.email}}</p>
    <p><span class="profile-label">{{'profileWindow.phone'| translate}}:</span> {{this.userData.phoneNumber}}</p>

  </mat-expansion-panel>
</div>
